<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the for to add a vehicle!</h1>
        <form action='/cars'>
          <div class='form-group'>
            <label for='makeModel'>Make and model of car</label>
            <input id='makeModel' name='makeModel' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='miles'>Miles on car</label>
            <input id='miles' name='miles' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='price'>Price of car</label>
            <input id='price' name='price' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='condition'>Condition of car</label>
            <input id='condition' name='condition' class='form-control' type='text'>
          </div>
          <button type='submit' class='btn-primary'>Show me the story!</button>
   </form>
  </body>
</html>
