<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Parcel Shipping Calculator</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the forms to calculate your parcel volume and shipping cost</h1>
        <form action='/parcels'>
          <div class='form-group'>
            <label for='height'>Parcel height</label>
            <input id='height' name='height' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='width'>Parcel Width</label>
            <input id='width' name='width' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='depth'>Parcel Depth</label>
            <input id='depth' name='depth' class='form-control' type='text'>
          </div>
          <div class='form-group'>
            <label for='weight'>Parcel Weight</label>
            <input id='weight' name='weight' class='form-control' type='text'>
          </div>
          <button type='submit' class='btn-primary'>Show me the story!</button>
   </form>
  </body>
</html>
